@import "variables.less";

body{
	width: 100%;
	margin-right: 0px;
	background: #edf1f1;
}

header{
	color: white;
	padding-top: 10px;
	background: black;
	.busqueda{
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		.contactanos{
			font-weight: bold;
			text-align: right;
			width: 100%;
			display: inline-block;
			@media (min-width: @mq-sm-min){
				border-right: 2px solid white;
				width: 70%;
				padding-right: 20px;
			}
			
			padding-top: 20px;
			padding-bottom: 10px;
		}
		
		.buscar{
			padding: 0px 50px 0px 50px;
			width: 29%;
			display: inline-block;
			
			.input-group{
				input{
					border: none;
				}
				.input-group-addon{
					background: white;
					border: none;
				}
			}
		}
	}
}

nav{
	&.navbar{
		border-radius: 0px;
	}
	
	&.navbar-default{
		background: black;
		border: none;
		box-shadow: 0px 0px 5px #999;
	}
	
	.navbar-header{
		.navbar-brand{
			height: 75px;
			padding-top: 0px;
		}
	}
	
	.navbar-collapse ul{
		margin-top: 8px;
		
		li{
			&:hover{
				background: red;
			}
			
			& > a{
				font-size: 15px;
				color: white !important;
			}
		}
	}
	
	margin-bottom: 0px !important;
}

.headPrincipal{
	background: url("../img/rocketBGHead.jpg");
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: bottom;
	min-height: 500px;
	
	@media (max-width: @mq-xs-max){
		min-height: 500px;
	}
	
	#frmLoginSocio{
		@media (max-width: @mq-xs-max){
			background: white;
			padding: 5px 5px 5px 5px;
		}
		
		margin-top: 60px;
		
		.titulo{
			font-size: 22px;
			font-weight: bold;
		}
		span.input-group-addon{
			background: black;
		}
		
		button[type=button]{
			color: black;
			font-weight: bold;
		}
	}
	
	#carruselNegocios{
		margin-top: 60px;
		
		@media (max-width: @mq-xs-max){
			width: 70%;
			margin-left: 13%;
		}
	}
	
	.descripcion{
		font-size: 27px;
		color: white;
		font-family: 'Montserrat Alternates', sans-serif;
		
		@media (max-width: @mq-xs-max){
			font-size: 18px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
		
		@media (min-width: @mq-sm-min) and (max-width: @mq-sm-max){
			font-size: 20px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
}

h2{
	color: black;
}

.beneficios{
	.item{
		height: 300px;
		cursor: pointer;
	}
	@media (max-width: @mq-xs-max){
		.item{
			min-height: 250px;
		}
	}
	
	img{
		max-width: 150px;
		
		@media (max-width: @mq-xs-max){
			max-width: 100px;
		}
	}
	
	p.descripcion{
		margin-top: 30px;
		font-size: 22px;
		font-weight: bold;
		
		@media (max-width: @mq-xs-max){
			font-size: 18px;
		}
	}
}

.modal{
	.modal-header{
		background: red;
		color: white;
		.close{
			color: white;
			opacity: .8;
			&:hover{
				opacity: 1;
			}
		}
	}
	
	.modal-body{
		background: white;
	}
}

span label.error{
	color: #ff5b5b;
}

#winNegocio{
	.imgNegocio{
		max-width: 300px;
		max-height: 150px;
	}
	
	.dvListaImagenes{
		.itemImagenNegocio{
			width: 50px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}


footer{
	background: black;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	
	ul{
		list-style: none;
		a{
			color: white;
			&:hover{
				color: red;
			}
		}
	}
}